body{
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: rgb(9, 126, 9);
    text-align: center;
    font-size: 75px;
    margin-bottom: 100px;
}

#choice{
    font: 400px;
    padding: 20px;
    margin: 100px;
    font-size: 100px;

}

.input, .score{
    display: flex;
    
    justify-content: center;
}

.score{
    gap:50px
}
#scoreValue{
     border: double blue 10px;
}
#scoreValue, #scoreCard{
    font-family: Impact;
    font-size: 60px;
    color:rgb(212, 168, 8);
    width: 200px;
    text-align: center;
}
#scoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgba(137, 43, 226, 0.96);
}
.final{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: double green 5px;
}