*{
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    margin:10px 0px;
}
h1{
    color: rgb(9, 126, 9);
    text-align: center;
    font-size: 75px;
    margin-bottom: 100px;
}

.choice{
    font: 400px;

    font-size: 100px;
    border-radius: 50px;
}
.input{
    justify-content: space-around;

    margin: 50px 0px 50px 0px;
    /*
        top right bottom left
    */
}

.input, .score{
    display: flex;
}

.score{
    gap:50px;
    justify-content: center;
}
.scoreValue{
     border: double blue 10px;
}
.scoreValue, #scoreCard{
    font-family: Impact;
    font-size: 60px;
    color:rgb(212, 168, 8);
    width: 200px;
    text-align: center;
}
#scoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgba(137, 43, 226, 0.96);
}
.view{
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    height: 150px;
    border: solid 
}
.results{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    height:150px;
    width:500px;
    color: blue; 
    border: double pink 10px;
    border-radius: 25px;
    justify-content: center;
    font-size:20px;
    align-self: center;
    /*visibility: hidden;
    */
}

.final{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: double green 5px;
}

.endGame{
    display: flex;
    justify-content: space-around;
}
.actions{
    height: 50px;
    width: 150px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
}